<!-- 
  Enrollment Number :- 301307330
  Name :- Khanjan Dave 
-->

<!-- Hiome page with image and name -->

<div id="header">

<main class = "container">
    <div class="header-text">
      <p>
          Mobile Application Developer
      </p>
      <h1>
          Hello, I'm <span>Khanjan</span> <br>From India
      </h1>
      <h6>Mission is to Offer the Highest quality,
        User - Centric application software <br>
        solutions and IT Consulting Services to our Clients.</h6>
  </div>
  
  </main>
</div>
