<!-- 
  Enrollment Number :- 301307330
  Name :- Khanjan Dave 
-->


<div id="projects">
    <div class="container">
        <h1 class="sub-title">My Projects</h1>


        <!-- List all the projects which I have done -->


        <div class="work-list">
            <div class="work">
                <img src="images/artboxy.png">
                <div class="layer">
                    <h3>ArtBoxy</h3>
                    <p>this app will allow the art creaters to upload the art work and sale them to the interested customes.</p>
                </div>
            </div>

            <div class="work">
                <img src="images/freedomLogistics.png">
                <div class="layer">
                    <h3>Freedom Logistics</h3>
                    <p>This application will manage all the inventory, user can track the invetory and check the status of the inventory.</p>
                </div>
            </div>

            <div class="work">
                <img src="images/bmmishops.png">
                <div class="layer">
                    <h3>BMMI Shops</h3>
                    <p>BMMI Shops is a market place application where user can purchage the liquor with discounts .</p>
                </div>
            </div>
        </div>
    </div>
</div>