<!-- 
  Enrollment Number :- 301307330
  Name :- Khanjan Dave 
-->


<div id="services">
    <div class="container">

        <h1 class="sub-title">My Services</h1>

        <!-- Define all the services Which I provide -->


        <div class="services-list">
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Web Design</h2>
                <p>We are here to design your website using latest tools </p>
                <!-- <a href="#">Learn More</a> -->
            </div>
            
            <div>
                <i class="fa-solid fa-crop-simple"></i>
                <h2>UI/UX Design</h2>
                <p>Design the initial templets for the website and apps from the requirements </p>
                <!-- <a href="#">Learn More</a> -->
            </div>

            <div>
                <i class="fa-brands fa-app-store-ios"></i>
                <h2>App Development</h2>
                <p>Creating mobile applications using android, iOs and flutter tools </p>
                <!-- <a href="#">Learn More</a> -->
            </div>
            

        </div>
    </div>
</div>